/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src:
    url("../fonts/roboto-v30-latin-regular.woff2") format("woff2"), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    url("../fonts/roboto-v30-latin-regular.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
    
}
/* roboto-500 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src:
    url("../fonts/roboto-v30-latin-500.woff2") format("woff2"), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    url("../fonts/roboto-v30-latin-500.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
    
}
/* roboto-700 - latin */
@font-face {
    font-display: swap; 
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;  
    src:
    url("../fonts/roboto-v30-latin-700.woff2") format("woff2"), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    url("../fonts/roboto-v30-latin-700.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
    
}
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 500;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    background-color: #fff;
}
img {
    display: block;
    height: auto;
}
.container { 
    max-width: 1380px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}
.site-main {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}
.wrapper {
    background-image: url(../images/herobg.png);
    background-repeat: no-repeat;
    background-size: 1440px 800px;
    background-position: calc(50% + 0px) calc(50% - 0px);
}
.site-header {
    padding-top: 40px;
    padding-bottom: 40px;  
    
}
.header__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.site-nav {
    
}
.nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
/* .nav__item {
    
} */
.nav__link {
    font-size: 12px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    color: #333;
}



.hero {
    padding-top: 112px;
    padding-bottom: 249px;
    background-image:url(../images/heroabs.png);
    background-repeat: no-repeat;
    background-size: 710px 696px;
    background-position: calc(50% + 365px) calc(50% - 0px);
    
}

.hero__title-wrapper {
    position: relative;
    width: 464px;
    margin-left: 100px; 
}
.hero__title::before {
    position: absolute;
    top: -190px;
    left: 494px;
    width: 200px;
    height: 200px;
    content: "";
    z-index: 5;
    background-image: url(../images/heroab.png);
    background-repeat: no-repeat;
    /* background-position: calc(50% + 50px) calc(50% - 50px); */
}
.hero__title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 64px;
    font-weight: 700;
    line-height: normal;
}
.hero__desc {
    margin-top: 24px;
    margin-bottom: 34px;
    font-weight: 400;
    line-height: 24px; 
    
}

.hero__link {
    display: block;
    width: 193px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 16px;
    line-height: normal;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
    border-radius: 100px;
    background-color: #0a775f;
    color: #fff;
}



.collection {
    padding-top: 20px;
    background-image: url(../images/collectionbarg1.png),url(../images/collectionbarg2.png),url(../images/collectionbg.png);
    /* background-size: 2000px 1570px , 1400px 1739px; */
    background-repeat: no-repeat;
    background-position: calc(50% - 700px) calc(50% - 45px), calc(50% + 742px) calc(50% + 150px), calc(50% + 0px) calc(50% + 34px);
    /* background-position: center , calc(50% + 0px) calc(50% + 34px); */
    
}
.collection__wrapper {
    padding-top: 50px;
}
.collection__title {
    display: block;
    margin-top: 0;
    margin-bottom: 80px;
    /* padding-top: 150px; */
    font-size: 50px;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}
.collection__list {
    margin-top: 0;
    margin-bottom: 0;
    margin: 0 auto;
    padding-left: 0;
    list-style: none;
}
.collection__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    margin-left: 113px;
}
.collection__item:nth-child(2n) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    margin-right: 113px;
    margin-left: 0;
    
}
.collection__item:nth-child(2n) .collection__inner {
    margin-right: 117px;
    margin-left: 0;
}
.collection__inner {
    width: 391px;
    margin-left: 117px;
}
.collection__item-title {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 48px;
    line-height: normal;
    color: #333;
}
.collection__desc {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 22px;
    font-weight: 400;
    line-height: 34px; 
    color: #333;
}

.choose {
    padding-top: 20px;
    padding-bottom: 80px;
    background-image: url(../images/choosebgor.png);
    background-size: 1400px 703px;
    background-repeat: no-repeat;
    background-position: calc(50% + 0px) calc(50% - 157px);
    overflow-x: hidden;
}
.choose__title-wrapper {
    display: block;
    width: 580px;
    margin: 0 auto;
    padding-top: 50px;
    text-align: center;
}
.choose__title {
    /* margin-top: 50px; */
    margin-bottom: 0;
    
    font-size: 50px;
    font-weight: 700;
    line-height: normal;
    color: #fff;
}
.choose__title-desc {
    margin-top: 10px;
    margin-bottom: 80px;
    font-weight: 400;
    line-height: 28px; 
    color: #fff;
}


.choose__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
    padding-left: 0;
}
.choose__item {
    position: relative;
}
.choose__item-title {
    margin-top: 28px;
    margin-bottom: 10px;
    color: #333;
    font-size: 30px;
    line-height: normal;
}
.choose__item-title--pic::before {
    position: absolute;
    top: -58px;
    left: -52px;
    content: " ";
    width: 140px;
    height: 144px;
    background-image: url(../images/chooseabs.svg);
    background-repeat: no-repeat;
}
.choose__desc {
    width: 377px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px; 
    color: #333;
}

.work {
    padding-bottom: 50px;
    background-image: url(../images/worksbg.png);
    background-repeat: no-repeat;
    background-position: center;
}
.work__title {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 50px;
    margin-bottom: 160px;
    font-size: 50px;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    color: #fff;
}
.work__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
    margin-top: 0;
    margin-bottom: 60px;
    padding-left: 0;
    list-style: none;
}
.work__item {
    width: 433px;
    padding: 20px;
    padding-bottom: 40px;
    background-color: #f8f8f2;
}
.work__number {
    display: block;
    font-size: 64px;
    font-weight: 400;
    line-height: normal;
    color: #333;
    text-align: right;
    opacity: 0.8;
}
.work__item-title {
    margin-top: 45px;
    margin-bottom: 10px;
    font-size: 40px;
    line-height: normal;
    color: #333;
}
.work__desc { 
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px; 
    color: #333;
}
.work__link {
    display: block;
    width: 193px;
    margin: 0 auto;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 16px;
    line-height: normal;
    letter-spacing: 1px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 100px;
    background: #c99b67;
}

.site-footer {
    padding-top: 50px;
    background-image: url(../images/footerbg.png);
    background-repeat: no-repeat;
    background-position:calc(50% + 0px) calc(50% + 25px);
}
.footer__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 65px;
    padding-bottom: 65px;
}
.footer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
.footer__item {
    max-width: 166px;
}
.footer__link {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: normal;
    text-decoration: none;
    text-transform: uppercase;
    color: #333;
}
.footer__socials-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
/* .footer__socials-item {
    
} */
.footer__socials-link {
    text-decoration: none;
}